extends layout

block content
  p 最大4人までオンライン対戦可能なクイズアプリです
  p 現在、約2万問収録しています

  p.mt-5 難易度選択
  a(href="/quiz?rank=A") Aランク <br>
  a(href="/quiz?rank=B") Bランク <br>
  a(href="/quiz?rank=C") Cランク <br>
  a(href="/quiz?rank=D") Dランク  
  