extends layout

block content
  p 最大4人までオンライン対戦可能なクイズアプリです
  p 現在、約2万問収録しています

  #select-degree.container
    h4 難易度選択
    div.card-columns
      .card#easy かんたん
      .card#easy ふつう
      .card#easy ちょいむず
      .card#easy むずかしい
  