doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://css.gg/home.css', rel='stylesheet')
    script(defer, src="javascripts/bundle.js")
    meta(name="viewport", content="initial-scale=1")
    
  body
    header.row.gx-0
      .col-2
      h1.col-8 みんなでクイズ！
      .col-2#menu
        .openbtn
          span 
          span
          span
      nav#nav 
        ul
          li
            a(href="/") ホーム
          li
            a(href="#") お問い合わせ
          li
            a(href="#") 利用規約

        
    main
      if userName
        #user-info.pt-3.pb-3
          .user-img 
          .user-name #{userName}
        hr
      else 

      block content
    footer 
      p © ゆうきまる