extends layout

block content
  h2 クイズ部分  
  h2#rank(data-rank=rank) #{rank} ランクが選択されています
  h4#Q.text-center
  #countdown-bar
  p#quiz-area

   
  button#ans-btn 答える！
  #ans-area.card-columns
  
