extends layout

block content  
  h4#Q.text-center
  #countdown-bar
  h2#rank(data-rank=rank) #{rank}ランク
  #max(data-max=max)
  ul 参加者
    li #{userName}
  p#quiz-area

   
  button#ans-btn 答える！
  .popup
    #user-input.rounded
      h4 回答
      p#answer-limit
      h5#user-input-text
    #ans-area.rounded
      #ans-input
  
