body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing : border-box;
  height: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  padding-top: 1rem;
  background-color:  #E08216;
}

#home {
  color: whitesmoke;
  cursor: pointer;
}


header h1 {
  text-align: center;
  padding-bottom: 1rem;
  color: whitesmoke;
}

main {
  background-color: whitesmoke;
  text-align: center;
}

footer {
  background-color:  #E08216;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  padding-top: 1rem;
  margin-top: auto;
}

#top{
  float: right;
}

#countdown-bar {
  width: 100%;
  background-color: orange;
  height: 16px;
}

/*----------------------------
ユーザーが答えを入力するエリア
-----------------------------*/
.popup {
  display: none;
  flex-wrap:wrap;
  height: 100vh;
  width: 100%;
  background: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
}

#user-input {
  background: #fff;
  height: 20%;
  width: 60%;
}

#user-input h4 {
  padding-bottom: 2rem;
}



#ans-area {
  background: #fff;
  padding-top: 2rem;
  height: 20%;
  width: 60%;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  float: left;
  height: 30%;
  width: 20%;
  font-size: xx-large;
  cursor: pointer;
}

/*-----------------------------
スライダー
-------------------------------*/

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  background: #8acdff;
  height: 14px;
  width: 80%;
  border-radius: 10px;
  border: solid 3px #dff1ff;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #53aeff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}
input[type="range"]::-moz-range-thumb {
  background: #53aeff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: none;
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}

.cor {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.cor-item {
  margin: 10px 5px 30px 0;
  
}


/*------------------------------
ボタンの設定
-------------------------------*/

.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 39px;   /* 余白       */
  background    : #e08216;     /* 背景色     */
  color         : #f5f5f5;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 10px #666666;  /* 影の設定 */
  border        : 2px solid #e08216;    /* 枠の指定 */
}

.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #e08216;     /* 背景色     */
  background    : #f5f5f5;     /* 文字色     */
}

/*---------------------------------------------------
ハンバーガーメニュー
----------------------------------------------------*/
#nav{
  position: absolute;
  display: none;
  top: 75px;
  left: 100%;
  width: 40%;
  height: 100vh;
  background: rgb(243, 208, 143);
/*０.7秒かけてナビメニューがスライドする*/
  transition: .7s;
}
#nav ul{
  padding-top: 50px;
}
#nav ul li{
  list-style-type: none;
  font-size: 20px;
}
#nav a{
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 15px 0;
  transition: .5s;
}
#nav li a:hover{
  color: #E08216;
  border-bottom: none;
}

.in{
  transform: translateX(-100%);
}



.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	background:#E08216;
	cursor: pointer;
  width: 50px;
  height:50px;
}

/*ボタン内側*/
.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: whitesmoke;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:10px;	
}

.openbtn span:nth-of-type(2) {
	top:18px;
}

.openbtn span:nth-of-type(3) {
	top:26px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 15px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3){
    top: 27px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}