body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%
}

header {
  width: 100%;
  padding-top: 1rem;
  background-color:  #E08216;
}

#home {
  color: whitesmoke;
  cursor: pointer;
  margin-left: 5rem;
  margin-top: 1.5rem;
}


header h1 {
  text-align: center;
  padding-bottom: 1rem;
  color: whitesmoke;
}

main {

  background-color: whitesmoke;
  text-align: center;
}

footer {
  background-color:  #E08216;
  width: 100%;
  position: absolute;
  bottom: 0; 
  text-align: center;
  color: whitesmoke;
  padding-top: 1rem;
}

#top{
  float: right;
}

.card-columns{
  columns: 4;
  height: 222px;
}

.card{
  height: 222px;
  line-height: 222px;
  font-size: xx-large;
  cursor: pointer;
}

#countdown-bar {
  width: 100%;
  background-color: orange;
  height: 16px;
}